<section class="editUpdateRecords">
  <div class="row">
      <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6">
        <button type="button" class="btn btn-primary">Add New Row</button>
      </div>
      <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6">
          <button type="button" class="btn btn-primary">Export Date</button>
      </div>
      <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-light">sort and filter on to of all colomns</button>
      </div>
      
  </div>
  <div class="row">
      <div class="table-responsive mt-3">          
          <table class="table">
            <thead>
              <tr>
                <th>Select</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>colunm Name</th>
                <th>colunm Name</th>
                <th>colunm Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <div class="radio">
                      <label><input type="radio" name="optradio" checked></label>
                    </div>
                </td>
                <td>
                  <span class="img delete"></span>
                </td>
                <td> 
                    <span class="img edit"></span>
                </td>
                <td>dummy Text</td>
                <td>dummy Text</td>
                <td>dummy Text</td>
              </tr>
              <tr>
                <td>
                    <div class="radio">
                      <label><input type="radio" name="optradio" checked></label>
                    </div>
                </td>
                <td>
                  <span class="img delete"></span>
                </td>
                <td> 
                    <span class="img edit"></span>
                </td>
                <td>dummy Text</td>
                <td>dummy Text</td>
                <td>dummy Text</td>
              </tr>
            </tbody>
          </table>
          </div>
  </div>
  <div class="row">
    <h4 class="moreOptions">Show More</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form class="form-inline mr-auto">
        <input class="form-control w-80" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Go</button>
      </form>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger w-80 ">Save</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger float-right w-80">Confirm</button>
    </div>
  </div>
</section>