<section class="editUpdateRecords moreOptions">
  <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
         <div class="row py-1 ">
            <div class="col-md-3 col-sm-12 pt-2">
                <span class="label label-default defaultGrey ml-3">Label Text</span>
             </div>
             <div class="col-md-3  col-sm-12">
                <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl0">
             </div>
             <div class="col-md-3 col-sm-12 pt-2">
                <span class="label label-default defaultGrey ml-3">Label Text</span>
             </div>
             <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl0">
             </div>
        </div>
        <div class="row  py-1">
            <div class="col-md-3 col-sm-12 pt-2">
                <span class="label label-default defaultGrey ml-3">Label Text</span>
             </div>
             <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl0">
             </div>
             <div class="col-md-3 col-sm-12 pt-2">
                <span class="label label-default defaultGrey ml-3">Label Text</span>
             </div>
             <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl0">
             </div>
        </div>  
        <div class="row  py-1">
            <div class="col-md-3 col-sm-12 pt-2">
                <span class="label label-default defaultGrey ml-3">Links</span>
             </div>
             <div class="col-md-9 col-sm-12">
                <input type="text" class="form-control" placeholder="Links for poup" id="usrLbl0">
             </div>
        </div>           
      </div>
      <div class="col-lg-2 col-md-2 offset-lg-1 offset-md-1 col-sm-12">
           <div class="form-group green-border-focus">
              <label for="exampleFormControlTextarea5" class="defaultGrey">comments</label>
              <textarea class="form-control" placeholder="comment Box" id="exampleFormControlTextarea5" rows="3"></textarea>
            </div>
            <div class="row">
                <a href="#">View All comments</a>
            </div>
      </div>
  </div>
</section>