  <div class="row">
    <div class="col-md-4">
      <p>dummy Text/ dummy text</p>
    </div>
    <div class="col-md-4">
      <h2 class="headerTxt">optimus</h2>
    </div>
    <div class="col-md-4">
      <!-- <div> -->
        <!-- <div class="dropdown float-right">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location DropDown
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">airoli</a>
            <a class="dropdown-item" href="#">Andheri</a>
            <a class="dropdown-item" href="#">goregaon</a>
          </div>
        </div> -->

        <div class="dropdown float-right">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"> Location DropDown
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Thane </a></li>
            <li><a href="#">Andheri</a></li>
            <li><a href="#">Dadar</a></li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <section  class="menuList">
      <p>Menu Will be in White</p>
    </section>
    </div>
