  <div class="row">
    <div class="col-md-4 pt-2">
      <p>dummy Text/ dummy text</p>
    </div>
    <div class="col-md-4">
      <h2 class="headerTxt">optimus</h2>
    </div>
    <div class="col-md-3 offset-md-1">
        <form>
          <div class="form-group">
            <select class="form-control" id="dropdown">
              <option value="">Location Drodown</option>
              <option value="thane">Thane</option>
              <option value="kharghar">Kahrghar</option>
            </select>
          </div>
        </form>
  </div>
  <div class="row w-100">
    <section  class="menuList">
      <p>Menu Will be in White</p>
    </section>
    </div>
