*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "BebasNeueBold";
    src: url("./assets/fonts/BebasNeue-Bold.ttf");
    }
    @font-face {
        font-family: "BebasNeueRegular";
        src: url("./assets/fonts/BebasNeue-Regular.ttf");
        }  
html, body, p, div{
    font-family: 'BebasNeueRegular';
    font-size: 14px;
    color:#dc3545;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'BebasNeueBold';
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-family: 'BebasNeueBold';
}
.clrBoth{
    clear: both;
    padding: 0px;
    margin: 0px;
}
#optimumWrapper{
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.defaultGrey{
    color: #495057;
}

  /* Buttons' focus effect */
  button.btn.btn-primary.btnSubmit {
    width: 100%;
    margin: 15px 0px 10px 0px;
    padding: 10px 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.img{
    background-image: url("./assets/icon_sprite_sheet_copy.png");
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.delete {
    background-position: -40px -2px;
    width: 33px;
    height: 34px;
}
.edit{
    background-position: -721px -82px;
	width: 32px;
	height: 34px;
}
select.form-control {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}
select.form-control option{
    color: #495057 !important;
    background-color: #fff !important;
}
.moreOptions{
    padding: 15px 5px;
    margin: 10px 0px;
    border: 1px solid #c1c1c1;
}
.breadcrumb{
    background-color: transparent !important;
    padding: 0.45rem 1rem  !important;
}
.breadcrumb-item{
    color: #dc3545 !important;
}
