<section class="editUpdateRecords moreOptions">
  <div class="row">
     <div class="col-md-2 pt-2">
      <span class="label label-default defaultGrey defaultGrey ml-3">Label Text</span>
     </div>
     <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl0">
     </div>
     <div class="col-md-2 pt-2">
      <span class="label label-default defaultGrey defaultGrey ml-3">Label Text</span>
     </div>
     <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl1">
     </div>
     <div class="col-md-2">
      <button type="button" id="search" class="btn btn-primary text-center float-right w-80">Search</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2 pt-2">
     <span class="label label-default defaultGrey ml-3">Label Text</span>
    </div>
    <div class="col-md-3">
     <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl2">
    </div>
    <div class="col-md-2 pt-2">
     <span class="label label-default defaultGrey ml-3">Label Text</span>
    </div>
    <div class="col-md-3">
     <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl3">
    </div>
    <div class="col-md-2">
     <button type="button" id="search" class="btn btn-primary text-center float-right w-80">Clear</button>
    </div>
 </div>
 <div class="row mt-2">
  <div class="col-md-2 pt-2">
   <span class="label label-default defaultGrey ml-3">Label Text</span>
  </div>
  <div class="col-md-3">
   <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl2">
  </div>
  <div class="col-md-2 pt-2">
   <span class="label label-default defaultGrey ml-3">Label Text</span>
  </div>
  <div class="col-md-3">
   <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl3">
  </div>
  <div class="col-md-2">
   <button type="button" id="search" class="btn btn-primary text-center float-right w-80">New</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-2 pt-2">
   <span class="label label-default defaultGrey ml-3">Label Text</span>
  </div>
  <div class="col-md-3">
   <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl2">
  </div>
  <div class="col-md-2 pt-2">
   <span class="label label-default defaultGrey ml-3">Label Text</span>
  </div>
  <div class="col-md-3">
   <input type="text" class="form-control" placeholder="Input / Suggestion Box" id="usrLbl3">
  </div>
  <div class="col-md-2">
   <button type="button" id="search" class="btn btn-primary text-center float-right w-80">Advance Search</button>
  </div>
</div>
</section>